*~
.uuid
/.cloud
/.deps
*.log
getsnaps.sh
html5_push_registrations.conf
secrets.yaml
plex.conf
pyozw.sqlite
ip_bans.yaml
known_devices.yaml
options.xml
OZW_Log.txt
/.storage
/.google_maps_location_sharing.cookies
/tts
.uuid
zigbee.db
/appdaemon/secrets.yaml
/appdaemon/*~
/appdaemon/logs/*
/appdaemon/apps/*~
/appdaemon/apps/__pycache__
/.git
/www/snapshots
/www/*png
/www/*jpg
/www/sounds/*
dbpasswd
dumped.db
zwcfg_*
